* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    color: white;
    background-color: black;
    font: 12px 'Oswald', 'Arial', sans-serif;
}

.top {
    padding: 10px;
    border-bottom: solid 1px #666666;
}

.nav_ul {
    display: table;
}

.nav_ul li {
    display: table-cell;
    font-size: 12px;
    text-align: center;
    width: 11%;
    cursor: pointer;
    list-style: none;
}

.nav_ul li a {
    display: block;
    padding: 30px 0.25em;
}

.nav_ul li::after {
    content: "";
    border-bottom: 2px solid #f4ce1b;
    opacity: 0;
    width: 100%;
    display: block;
}

.nav_ul li:hover::after {
    opacity: 1;
}

.nav_contents {
    width: 100%;
    height: 100px;
    background-color: #0f0;
    opacity: 0.1;
}

.content {
    position: relative;
}

.dots {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.dots ul {
    display: table;
}

.dots ul li {
    display: table-cell;
    padding: 3px 7px;
}

.dots ul li button {
    display: none;
}

.dots ul li::before {
    content: '◇';
    line-height: 1;
    font-size: 14px;
}

.dots ul li.slick-active::before {
    content: '◆';
    color: #f4ce1b;
}

.first {
    position: relative;
}

.second {
    padding: 40px 0px;
    display: block;
    width: 100%;
    height: 455px;
}

.left {
    background-color: #1a1a1a;
    width: 25%;
    float: left;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.left h1{
    font-size: 20px;
    margin-top: 100px;
}

.middle {
    width: 50%;
    float: left;
    height: 100%;
}

.right {
    width: 25%;
    height: 100%;
    float: left;
}
.second img{
    display: block;
    height: 100%;
}
.right div{
    height: 50%;
}
.button-style-1{
    min-width: 12em;
    padding: 1em;
    color: #f4ce1b;
    border: 1px solid #aaa;
    background-color: black;
    display: inline-block;
    margin: 30px;
}