* {
    margin: 0 auto;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font: 12px 'Oswald', 'Arial', sans-serif;
}

iframe {
    width: 100%;
}

#footer {
    position: absolute;
}

#zy_content {
    display: block;
    margin-top: -330px;
    position: relative;
    z-index: 3;
    text-align: center;
    padding-bottom: 60px;
}

.cues_titles{
    margin: 10px;
}
.cues_title{
    border-bottom: #bbbbbb solid 1px;
    margin: 0 10px;
    font-size: 28px;
}

.cues_title.active{
    border-bottom: #f4ce1b solid 2px;
}

.cues_img{
    width: 100%;
}

.cues_video{
    width: 80%;
}

h1{
    margin: 10px;
}